:root {

  //COLOR VARIABLEA
  --color-primary: #030720;
  --color-secondary: rgba(17, 21, 46, 1);

  --color-white:#FFFFFF;

  --color-border-primary:rgba(53, 59, 95, 1);
  --color-gradient-primary: linear-gradient(to bottom, rgba(128, 0, 128, 1),rgba(230, 34, 116, 1), rgba(249, 206, 0, 1));

}