@import 'themes/variables.css';

/*QUESTION Section Start ===============================================================*/
.question-section{
    border: 2px solid white;
    height: 1134px;
    z-index: 0;
}

.question-section .question-background{
    border: 1px solid red;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.question-section .left-effect{
    border: 1px solid red;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

/*Table List Section Start ==============================================================*/
.table-section{
    width: 1600px;
    height: 750px;
    flex-shrink: 0;
    gap: 40px;
}

.table-section .title h2{
    padding: 0;
    margin: 0;
    line-height:0;
}

.table-section .table-background{
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1600px;
    height: 750px;
}

.table-section .left-effect{
    left: 0;
    position: absolute;
    top: 0;
}

.table-section .right-effect{
    right: 0;
    position: absolute;
    bottom: 0;
}

.table-section .table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.table-section .table span{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 261px;
    height: 66px;
    flex-shrink: 0;

    border-radius: 7px;
    border: 1px solid #353B5F;
    background: #01051F;
}

/*Table List End/








/*About Us Section================================================================*/

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us .background{
    min-height: 700px;
}

.about-us .row{
    height: 700px;
    justify-content: center;
    align-items: center;
}

.about-us .text-box{
    /* P Tag 16 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    max-width: 524px;
    /* 187.5% */
}

.about-us .primary-button{
   margin-top: 28px ;
}


/*Limited Time Section==============================================================================*/
.header-content {
    padding-top: 90px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


.bottom-content {
    padding-top: 50px;
    padding-bottom: 58px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.time-deal-component {
    padding: 1px;
    z-index: -1;
}

.bottom-content .title {
    font-size: 24px;
    text-wrap: wrap;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-wrap: wrap;
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.sub-title {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    /* 187.5% */
}

/* Mobile View ============================================== */
@media only screen and (max-width: 599px) {
    .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
    }

    .sub-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        /* 187.5% */
    }


    .header-content {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .bottom-content {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        flex-wrap: wrap;
    }

}