@import 'themes/variables.css';

.header-content {
    padding-top: 90px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


.bottom-content {
    padding-top: 50px;
    padding-bottom: 58px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.time-deal-component {
    background: var(--color-white-gray);
    padding: 1px;
}

.bottom-content .title {
    font-size: 24px;
    text-wrap: wrap;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-wrap: wrap;
}

.title {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.sub-title {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    /* 187.5% */
}

/* Mobile View ============================================== */
@media only screen and (max-width: 599px) {

    .time-deal-component {
        background: rgba(255, 255, 255, 0.486);
        padding: 1px;
    }

    .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
    }

    .sub-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        /* 187.5% */
    }


    .header-content {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .bottom-content {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        flex-wrap: wrap;
    }

}