@import 'variables.css';

.nav-bar {
    position: absolute;
    top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
}

/* Desktop View */
@media only screen and (min-width: 1600px) {
    .nav-bar {
        width: 100%;
    }

    #nav-logo {
        min-width: 400px;
    }
}

/* Tablet View */
@media only screen and (max-width: 1200px) {
    .nav-bar {
        width: 90%;
    }
    #nav-logo {
        max-width: 400px;
    }
}


/* Mobile View */
@media only screen and (max-width: 599px) {
    .nav-bar{
        width: 90%;
    }

    #nav-logo{
        max-width: 200px;
    }
}