@import 'variables.css';

.nav-bar {
    position: absolute;
    top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}

.nav-sub-container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-bar .right{
    display: flex;
    justify-content: right;
    width: 100%;
}


.nav-bar .left{
    width: 227px;
    display: flex;
    justify-content: left;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width:599px) {

    .nav-bar .left {
            width: 180px;
            display: flex;
            justify-content: left;
            justify-content: center;
            align-items: center;
        }

    .nav-bar .right .primary-button {
            width: 110px;
            height: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            font-size: 10px;
        }

    .nav-bar .right .primary-button p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 10px;
    }
}